:root {
  --text: #fbe9d0;
  --text-h: #08060d;
  --bg-one: #244855;
  --bg-two: #90aead;
  --blocks: #874f41;
  --btn: #e64833;
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
